<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Matricula</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Cristian Omar</td>
        <td>Puentes Diaz</td>
        <td>170842</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jose de jesus</td>
        <td>Flores Rubalcava</td>
        <td>undefined</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Bryan Alfredo</td>
        <td>Flores Jara</td>
        <td>undefined</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Angel Mauricio</td>
        <td>Velazques Rodriguez</td>
        <td>undefined</td>
      </tr>
    </tbody>
  </table>